@charset "utf-8";

/**
 * jQVersion.com
 * Author: Mihai MATEI <contact@jqversion.com>
 */
 
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	overflow:hidden;
}

.clear {
	clear:both;
}

.ui-icon {
	display:inline-block;
	margin-right:2px;
	height:16px;
	width:16px;
	background-image: url("/resources/images/ui-icons_ffffff_256x240.png");
}
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }

#page-wrapper {
	display:block;
	width:100%;
}

#header {
	display:block;
	height:40px;
	background:#336699;
	position:relative;
}

#logo {
	display:block;
	padding:12px 0 0 12px;
	float:left;
	margin-right:70px;
}

#menu {
	display:inline-block;
	height:40px;
}

#menu a {
	display:inline-block;
	margin-right:20px;
	font-size:13px;
	color:#FFF;
	text-transform:uppercase;
	text-decoration:none;
	height:40px;
	line-height:40px;
	vertical-align:middle;
}

#menu a span.ui-icon {
	position:relative;
	top:3px;
}

#menu a.active,
#menu a:hover {
	color:#d3e9ff;
}

#menu a.active span.ui-icon-triangle-1-s,
#menu a:hover span.ui-icon-triangle-1-s,
#menu a.active span.ui-icon-triangle-1-n,
#menu a:hover span.ui-icon-triangle-1-n {
	background-image:url('/resources/images/ui-icons_d3e9ff_256x240.png');
}

#share.active {
	background:#4373a3;
}

#share-menu {
	display:none;
	position:absolute;
	top:40px;
	left:0;
	background:#4373a3;
	color:#FFF;
	z-index:991;
	padding:5px;
	border:solid 1px #336699;
	border-top:none;
}

#share-menu input {
	padding:2px;
	border:none;
	width:200px;
}

#main-loader {
	display:none;
	position:relative;
	top:4px;
}

.sidebar {
	display:table-cell;
	vertical-align:top;
}

.left-sidebar {
	width:220px;
	position:relative;
}

.left-sidebar .left-sidebar-ads {
	position: relative;
	top: 10px;
	left: 10px;
}

.left-sidebar-box {
	display:block;
	padding:0 10px 10px;
	border-bottom:solid 1px #CCC;
}

.left-sidebar-box span.title {
	display:block;
	font-size:12px;
	padding:10px 0 5px;
}

.left-sidebar-box select,
.left-sidebar-box input {
	display:block;
	width:190px;
	padding:4px;
	font-size:12px;
	border:solid 1px #CCC;
}

.right-sidebar {
	width:220px;
	position:relative;
}

.right-sidebar #versions-hint {
	display:block;
	width:198px;
	position:absolute;
	right:0;
	top:19px;
	font-size:12px;
	color:#FFF;
	padding-bottom:7px;
	text-transform:lowercase;
}

.right-sidebar #versions-hint span {
	display:inline-block;
	width:10px;
	height:12px;
	position:absolute;
	bottom:0;
	left:-14px;
	background:url('/resources/images/down-arrow.png');
}

#actions {
	display:none;
}

#versions {	
	overflow-y:scroll;
}

#versions ul li iframe {
	position:absolute;
	display:block;
	height:1px;
	width:1px;
	right:-10px;
}

#versions ul li {
	display:block;
	height:23px;
	border-bottom:solid 1px #ddd;
	position:relative;
	overflow:hidden;
}

span.box-hint span.result,
#versions ul li span.result {
	position:absolute;
	right:5px;
	top:3px;
	display:block;
	height:16px;
	width:16px;
	background:url("/resources/images/tests-states.png");
}

span.box-hint span.success,
#versions ul li span.success {
	background-position:0 32px;
	cursor:pointer;
}

span.box-hint span.error,
#versions ul li span.error {
	background-position:0 16px;
	cursor:pointer;
}

span.box-hint span.no-background,
#versions ul li span.no-background {
	background:none;
}

.left-sidebar label.centered-input {
	margin:0;
	padding-top:8px;
}

.left-sidebar label input {
	display:inline-block;
}

label.centered-input {
    display:block;
    padding-left:15px;
    text-indent:-15px;
	margin:4px 5px;
}

label.centered-input input {
    width:13px;
    height:13px;
    padding:0;
    margin:0 3px 0 0;
    vertical-align:bottom;
    position:relative;
    top:1px;
    *overflow:hidden;
}

#code-container {
	display:table-cell;
}

#html-js-boxes, #css-result-boxes {
	display:table-cell;
}

.box {
	position:relative;
	border: solid 1px #ddd;
}

.box-hint {
	display:block;
	padding:5px 10px;
	border:solid 1px #CCC;
	color:#999;
	position:absolute;
	right:10px;
	top:10px;
	z-index:990;
	background:#FFF;
	cursor:pointer;
}

.result-box-hint {
	padding-right:25px;
}

#html-box, #js-box {
	border-right:none;
}

#js-box, #result-box {
	border-top:none;
	border-bottom:none;
}

#html-box, #css-box {
	border-top:none;
}

#result-iframe {
	display:block;
	border:none;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

.CodeMirror pre {
	padding-left: 7px;
	line-height: 1.25;
}

.CodeMirror-gutters {
	border-right:none;
}

#qtip-growl-container{
    position: fixed;
    bottom: 10px; right: 10px;
}

#qtip-growl-container .qtip{
	position: static;
	min-height: 0;
	overflow: hidden;
	margin: 0 0 5px 0;
}

#footer {
	display:block;
	border-top:solid 1px #ddd;
	height:39px;
}

#footer p {
	padding:13px;
}

#footer a {
	color:#336699;
}

#footer a:hover {
	text-decoration:none;
}